body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0 0 2em 0;
    padding: 2em;
    color: white;
    background-color: #8332A8;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    clear: both;
    padding: 2em 0;
}

li > img {
    float: left;
    margin: 0 2em 1em 0;
}

#bus_list_container {
    max-width: 30em;
    margin: auto;
}

.name {
    color: #8332A8;
    font-weight: bold;
}
